.loading {
    width : 64px;
    height: 64px;
    position: absolute;
    left : 50%;
    top : 50%;
    margin-left : -32px;
    margin-top : -32px;
    z-index: 999;
}
  .btn-switch {
    font-size: 10px;
      position: relative;
      display: inline-block;		
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  .btn-switch__radio {
      display: none;
  }
  .btn-switch__label {
      display: inline-block;	
      padding: .75em .5em .75em .75em;
      vertical-align: top;
      font-size: 1em;
      font-weight: 700;
      line-height: 1.5;
      color: white;
    cursor: pointer;
      transition: color .2s ease-in-out;
  }
  .btn-switch__label + .btn-switch__label {
    padding-right: .75em;
      padding-left: 0;
  }
  .btn-switch__txt {
      position: relative;
      font-size: 10px;
    font-weight: 500;
      z-index: 2;
      top: 2px;
    display: inline-block;
     min-width: 1.5em;
      opacity: 1;
      pointer-events: none;
      transition: opacity .2s ease-in-out;
  }
  .btn-switch__radio_no:checked ~ .btn-switch__label_yes .btn-switch__txt,
  .btn-switch__radio_yes:checked ~ .btn-switch__label_no .btn-switch__txt {
      opacity: 0;
  }
  .btn-switch__label:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 7px;
      right: 0;
      bottom: 7px;
      left: 0;
      background: #0f4c81;
      border-radius: 1.5em;
      box-shadow: inset 0 .0715em .3572em rgba(43,43,43,.05);
      transition: background .2s ease-in-out;
  }
  .btn-switch__radio_yes:checked ~ .btn-switch__label:before {
    background: #0f4c81;
  }
  .btn-switch__label_no:after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 8px;
      bottom: 8px;
      left: 0.1em;
      width: 5.1em;
      background: #C0D725;
      border-radius: 1em;	
      pointer-events: none;
      box-shadow: 0 .1429em .2143em rgba(43,43,43,.2), 0 .3572em .3572em rgba(43,43,43,.1);
      transition: left .2s ease-in-out, background .2s ease-in-out;
  }
  .btn-switch__radio_yes:checked ~ .btn-switch__label_no:after {
      left: calc(100% - 5.2em);
      background: #C0D725;
  }
  .btn-switch__radio_no:checked ~ .btn-switch__label_yes:before,
  .btn-switch__radio_yes:checked ~ .btn-switch__label_no:before {
      z-index: 1;
  }
  .btn-switch__radio_yes:checked ~ .btn-switch__label_yes {
      color: white;
  }
.wrap {
    z-index: 99999;
    position: absolute;
    left: 0;
    font-family: NYJ Gothic;
    bottom: 40px;
    width: 288px;
    height: 132px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.5;
}
.wrap * {padding: 0;margin: 0;}
.wrap .info {
    width: 286px;
    height: 105px;
    margin-top: 15px;
    border-radius: 11px;
    border-bottom: 2px solid #ccc
    ;border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: #A5B8D0;
    line-height: 20px;
    color: #373838 !important;
}
.info .close {position: absolute;top: 21px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.info .close:hover {cursor: pointer;}
.info .body {position: relative;overflow: hidden;}
.info .desc {
    position: relative;
    height: 75px;
    text-align: center;
    padding-top: 6px;
}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.desc .jibun {
    font-size: 11px;
    margin-top: 5px;
    font-weight: 100;
    display: inline;
    float: left;
}
#overlayAddress{
    padding-left: 11px;
}
#overlayDistance{
    width: 105px;

}
#overlayStock{
    min-width: 70px;
}
#overlayStat{
    margin-left: 31px;
    width: 43px;
    border-radius: 10px;
    color: white;
}
.info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}

.info .link {
    border-radius: 5px;
    /* display: block; */
    position: absolute;
    bottom: 8px;
    left: 50%;
    width: 204px;
    margin-left: -102px;
    background: #C0D725;
    color: white;
}
@font-face {
    font-family: 'NYJ Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(/static/font/NYJGothicMedium.ttf) format("truetype");
}
@font-face {
    font-family: 'NYJ Gothic';
    font-style: normal;
    font-weight: 100;
    src: url(/static/font/NYJGothicLight.ttf) format("truetype");
}
@import 'https://fonts.googleapis.com/css?family=Lato';
body
{
background:white;
font-family: 'NYJ Gothic';
font-size: 150%;
}
#buyDate{
    position: absolute;
    top: 21px;
    padding-left: 10px;
    font-size: 10px;
    color : white;
    font-weight: 300;
}
#date{
    position: absolute;
    left: 0;
    top : 5px;
    color: white;
    font-size: 10px;
    padding-left: 10px;
    font-weight: 300;
}
.slideUp li{
    border-bottom: 1px solid #c1c1c1;
    width: 91%;
    height: 47px;
    margin-left: 5%;
    line-height: 3;
}
.slideUp li:hover{
    background: white;
}
.slide
{
background: whitesmoke;
display: none;
width: 100%;
}
#reverseSlideContentUp{
    position: absolute;
    bottom: 18px;
    z-index: 998;
    font-size: 13px;
    font-weight: 300;
    width: 76px;
    padding: 3px;
    border-radius: 16px;
    left: 50%;
    margin-left: -38px;
    border: 1px solid #A5B8D0;
    outline: 0;
    color: #373838;
    background-color: white;

}
/* #reverse
{
padding-bottom: 10rem;
position: absolute;
bottom : 0;
height: 45%;
width: 100%;
} */
.slideUp
{
z-index: 998;
position: absolute;
height: 40%;
width: 100%;
bottom: 0;
}
#firstBar{
width: 100%;
height: 50px;
z-index: 50;
display: inline-block;
position: absolute;
/* background-image: linear-gradient(to right,#0eca68,#00bf5f); */
}
#BarUl{
width: 100%;
height: 100%;
padding-left : 0;
background : #0f4c81;
}
.storeList{
padding-left: 0;
list-style:none;
margin-top : 53px !important;
}
.scrollDiv{
height: 100%;
overflow-y: scroll;
background: #F1EEE6;
}
@media(min-width: 769px){
.slideUp
{
z-index: 998;
position: absolute;
height: 37%;
width: 690px;
bottom: 0;
left : 50%;
margin-left: -345px;
}
#firstBar{
width: 690px;
height: 50px;
display: inline-block;
position: absolute;
/* background-image: linear-gradient(to right,#0eca68,#00bf5f); */
}
#myPosition{
    position: absolute;
    bottom: 18px;
    right: 11px;
    z-index: 999;
    padding: 7px;
    border: 1px solid #A5B8D0;
    background: white ;
    border-radius: 8px;
    width: 36px;
    height: 36px;
}
#myPositionImg{
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
}
}

#firstBar button{
height : 64px;
width : 25%;
}
#firstBar img{
display: inline;
}
#myPositionImg{
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
}
#myPosition{
    position: absolute;
    bottom: 18px;
    right: 11px;
    z-index: 999;
    padding: 7px;
    border: 1px solid #A5B8D0;
    background: white ;
    border-radius: 8px;
    width: 36px;
    height: 36px;
}
#topBar{
    position: absolute;
    height: 40px;
    background-color: #0f4c81;
    top: 0;
    display: inline-block;
    z-index: 998;
    width: 100%;
    color: white;
    text-align: center;
}

#mainTitle{
    position: relative;
    top: 6px;
    font-weight: 400;
    font-size: 20px;
    color:  #F1EEE6;
}
#notice{
    position: absolute;
    right: 4px;
    border: 0;
    background: none;
    outline: 0;
    top: 7px;
}
#searchIcon{
    position: absolute;
    right: 8px;
    width: 19px;
    top: 5px;
}
#searchBar{
    position: absolute;
    top: 45px;
    left: 5px;
    height: 30px;
    font-size: 11px;
    width: 66%;
    z-index: 998;
}
#address{
    border-radius: 16px;
    background: white;
    border-style: none;
    border: 1px solid #0f4c81;
    height: 32px;
    width: 100%;
    outline: none;
    padding-left: 10px;
}
#excepted2{
position: absolute;
right: 10px;
z-index: 999;
top : 45px;
}
#centerChange{
    border: 1px solid #A5B8D0;
    position: absolute;
    left: 50%;
    text-align: center;
    z-index: 999;
    margin-left: -66px;
    border-radius: 16px;
    outline: 0;
    font-size: 13px;
    padding: 3px;
    width: 132px;
    display: none;
    font-weight: 100;
    background: white;
    top: 87px;
}
#BarUl a{
display: inline-block;
height: 51px;
line-height: 51px;
vertical-align: top;
text-align: center;
float: left;
text-decoration: none
}
#reSearch{
position: absolute;
right: 0;
top: 0;
background-color: white;
height: 51px;
}
#recentStock{
    width : 50% !important;
    font-size: 18px;
    color: #C0D725;
    border-bottom: 4px solid #C0D725;
}
#nearby{
    font-size: 18px;
    width : 50% !important;
    color : #F1EEE6;
    left: 50%;
    
}
#frontBirth, #behindBirth{
    color: #0f4c81;
    background: #C0D725;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
#weekendBuy{
    color: #0f4c81;
    background: #C0D725;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
.slideUp li div{
    display: inline; 
}
.storeName{
    float: left;
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.distanceMe{
    font-size: 12px;
    position: relative;
    float: left;
    width: 18%;
    top: 5px;
}
.remainStat{
    position: relative;
    float: left;
    width: 16%;
    top : -2px;
}
.stockTime{
    position: relative;
    float: left;
    font-size: 12px;
    top: 3px;
}
.realStat{
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    font-size: 12px;
}
.remainInfo{
    position: absolute;
    left: 10px;
    bottom : 18px;
    z-index: 999;

}
#centerLine{
    position: absolute;
    left: 50%;
    width: 1px;
    height: 36px;
    top: 7px;
    background-color: #A5B8D0;
}
.modal-content{
    font-family: "NYJGothic";
}
.modal-body{
    overflow-y: auto;
    max-height : 300px;
    padding-top: 0;
    padding-bottom: 0;
}
.body-title{
    font-size: 14px !important;
    font-weight: bolder;
    color : #0f4c81;
    margin-bottom: 5px;
}
.modal-bodyDiv{
    padding-top: 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 12px;
    font-weight: 400;
}
.modal-dialog{
    top: 10%;
}
.modal-footer{
    border-top: none;
    text-align: center;
    padding-top: 16px;
}
.footerInfo{
    font-size: 10px;
    font-weight: 100;
    color : black;
}
.footerInfo p{
    margin-bottom : 3px;
}
.modal-title{
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -27px;

}
.modal-header .close{
    opacity: 1;
    color: white;
    margin-top: 1px !important;
}
.modal-header{
    color : white;
    background: #0f4c81;
    padding : 6px;
    padding-top : 1px;
}
.btn-default{
    color: white;
    background: #0f4c81;
}