<!DOCTYPE html>
<html style="height : 100%">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=182t82nrlu"></script> 
 네이버 지도 api 
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=182t82nrlu&submodules=geocoder"></script>
네이버 지도 좌표 변환기 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2169105020527d66bfc410aff25c58e1&libraries=services"></script>
<!-- 드래그 라이브러리 -->
<title>main.html</title>

<style type="text/css">
	.loading {
		width : 64px;
		height: 64px;
		position: absolute;
		left : 50%;
		top : 50%;
		margin-left : -32px;
		margin-top : -32px;
		z-index: 999;
	}
	.wrap {z-index: 99999; position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
    .wrap * {padding: 0;margin: 0;}
    .wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
    .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
    .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .info .close:hover {cursor: pointer;}
    .info .body {position: relative;overflow: hidden;}
    .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
    .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
    .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
    .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    .info .link {color: #5085BB;}
	
	@import 'https://fonts.googleapis.com/css?family=Lato';
body
{
    background:white;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
}

.slideUp li{
	border-bottom : 1px solid black;
}

.slide
{
    background: whitesmoke;
    display: none;
    width: 100%;
}
#reverseSlideContentUp{
	position: absolute;
	bottom: 0;
	z-index: 998;
	width: 50px;
	left : 50%;
	margin-left: -25px;

}
/* #reverse
{
    padding-bottom: 10rem;
    position: absolute;
	bottom : 0;
	height: 45%;
	width: 100%;
} */
.slideUp
{
	z-index: 998;
    position: absolute;
	height: 48%;
	width: 100%;
    bottom: 0;
}
#firstBar{
	width: 100%;
	height: 50px;
	display: inline-block;
	position: fixed;
	/* background-image: linear-gradient(to right,#0eca68,#00bf5f); */
}
#BarUl{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right,#0eca68,#00bf5f);
}
.storeList{
	margin-top: 53px !important;
	padding-left: 15px;
	list-style:none;
}
.scrollDiv{
	height: 100%;
	overflow-y: scroll;
}
@media(min-width: 769px){
	.slideUp
{
	z-index: 998;
    position: absolute;
	height: 48%;
	width: 690px;
    bottom: 0;
	left : 50%;
	margin-left: -345px;
}
#firstBar{
	width: 690px;
	height: 50px;
	display: inline-block;
	position: fixed;
	/* background-image: linear-gradient(to right,#0eca68,#00bf5f); */
}
#myPosition{
	position: absolute;
	bottom : 0;
	right : 0;
	z-index: 999;
}
}
#firstBar button{
	height : 64px;
	width : 25%;
}
#firstBar img{
	width : 50%;
	display: inline;
}
#myPosition{
	position: absolute;
	bottom : 0;
	right : 0;
	z-index: 999;
}
#topBar{
	position: absolute;
	height : 40px;
	background-color: aquamarine;
	top : 0;
	display: inline-block;
	z-index: 998;
	width: 100%;
	text-align: center;
}
#date{
	position: absolute;
	left : 0;
}
#mainTitle{
	position: relative;
}
#notice{
	position: absolute;
	right : 0;
}
#address{
	position: absolute;
	top : 40px;
	left : 0;
	z-index: 998;
}
#excepted{
	position: absolute;
	right: 0;
	z-index: 999;
	top : 40px;
}
#centerChange{
	position: absolute;
	right: 0;
	z-index: 999;
	top : 100px;
	display: none;
}
#BarUl a{
	display: inline-block;
    position: relative;
    height: 51px;
    margin: 0 4px 0 3px;
    padding: 0 4px;
    line-height: 51px;
    color: transparent;
    vertical-align: top;
	color : white;
	text-align: center;
}
#reSearch{
	position: absolute;
	right: 0;
	top: 0;
	background-color: white;
	height: 51px;
}
</style>



</head>

<body style="height : 100%">
	<div id="map" style="width:100%;height:100%;"></div>
<input type="text" id="address" value="" />
<img class="loading" src="/static/img/loading25.gif" style="display : none" />	
<div id="topBar">
	<span id="date">
		수요일
	</span>
	<span id="mainTitle">
		마스크맵
	</span>
	<div id="notice">
		<span>공지자리</span>
	</div>
</div>
<button id="excepted">품절 제외 : OFF</button>
<button id="centerChange">현 위치에서 검색</button>
<button id="reverseSlideContentUp">up</button>
<div id="myPosition"><img id="myPositionImg" src="/static/img/loading25.gif" /></div> 
<!-- <button style="display : none" id="reverseSlideContentUp">Reverse Slide Up</button> -->
<div class="slide slideUp">
	<div id="firstBar">
	<ul id="BarUl">
		<a id="recentStock" style="width : 22%">입고순</a>
		<a id="nearby" style="width : 22%">거리순</a>
	</ul>	
	<a id="reSearch" style="width : 44%;"></a>
	
	
	
	<!-- <div><img src="/static/img/loading25.gif" /></div> -->
	</div><div class="scrollDiv">
		<ul class="storeList"></ul>
	</div>
</div>

<script>

	
	$(function() {
		var excepted = false;
		var result;
		var result2;
		var result3;
		var dragEventSWitch = true;
		var bottomListSwitch = false;
		var myPositionMarker =[];
		var menuSwitch = "stock";
		var beforeOverlay = [];
		var overlayList = [];
		var beforeMarker = [];
		var centerLat;
		var centerLng;
		var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
var options = { //지도를 생성할 때 필요한 기본 옵션
	center: new kakao.maps.LatLng(37.498614, 127.041503), //지도의 중심좌표.
	level: 4 //지도의 레벨(확대, 축소 정도)
	
};

var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
map.setMaxLevel(5);

function panTo(lat,lng) {
    // 이동할 위도 경도 위치를 생성합니다 
    var moveLatLon = new kakao.maps.LatLng(lat,lng);
    
    // 지도 중심을 부드럽게 이동시킵니다
    // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
    map.panTo(moveLatLon);            
}      

function closeOverlay() {
    beforeOverlay[0].setMap(null);     
}
// 주소-좌표 변환 객체를 생성합니다



// 주소로 좌표를 검색합니다
function addressSearch(address){
var ps = new kakao.maps.services.Places(); 

// 키워드로 장소를 검색합니다
ps.keywordSearch(address, placesSearchCB); 

// 키워드 검색 완료 시 호출되는 콜백함수 입니다
function placesSearchCB (data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        var bounds = new kakao.maps.LatLngBounds();

        for (var i=0; i<data.length; i++) {
            bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
        }       

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
		map.setBounds(bounds);
		sendAddress();
    } 
}
 
}
function searchPlaces() {

var keyword = document.getElementById('keyword').value;

if (!keyword.replace(/^\s+|\s+$/g, '')) {
	alert('키워드를 입력해주세요!');
	return false;
}

// 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
ps.keywordSearch( keyword, placesSearchCB); 
}

// 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
function placesSearchCB(data, status, pagination) {
if (status === kakao.maps.services.Status.OK) {

	// 정상적으로 검색이 완료됐으면
	// 검색 목록과 마커를 표출합니다
	displayPlaces(data);

	// 페이지 번호를 표출합니다
	displayPagination(pagination);

} else if (status === kakao.maps.services.Status.ZERO_RESULT) {

	alert('검색 결과가 존재하지 않습니다.');
	return;

} else if (status === kakao.maps.services.Status.ERROR) {

	alert('검색 결과 중 오류가 발생했습니다.');
	return;

}
}
function displayPlaces(places) {

var listEl = document.getElementById('placesList'), 
menuEl = document.getElementById('menu_wrap'),
fragment = document.createDocumentFragment(), 
bounds = new kakao.maps.LatLngBounds(), 
listStr = '';

// 검색 결과 목록에 추가된 항목들을 제거합니다
removeAllChildNods(listEl);

// 지도에 표시되고 있는 마커를 제거합니다

for ( var i=0; i<places.length; i++ ) {

	// 마커를 생성하고 지도에 표시합니다
	var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
		marker = addMarker(placePosition, i), 
		itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

	// 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
	// LatLngBounds 객체에 좌표를 추가합니다

	// 마커와 검색결과 항목에 mouseover 했을때
	// 해당 장소에 인포윈도우에 장소명을 표시합니다
	// mouseout 했을 때는 인포윈도우를 닫습니다

	fragment.appendChild(itemEl);
}

// 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
listEl.appendChild(fragment);
menuEl.scrollTop = 0;

// 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
}
$("#address").keyup(function(){
	if (window.event.keyCode == 13) {
 
 	// 엔터키가 눌렸을 때 실행할 내용
 	addressSearch($("#address").val());
}
})


// This function converts decimal degrees to radians
function deg2rad(deg) {
        return (deg * Math.PI / 180.0);
    }
     
    // This function converts radians to decimal degrees
    function rad2deg(rad) {
        return (rad * 180 / Math.PI);
    }


	function distance(lat1, lon1, lat2, lon2) {
         if(JSON.stringify(lat2)=="null"){
			return null;
		 }

		 var theta = lon1 - lon2;
		 var dist = Math.sin(deg2rad(lat1)) * Math.sin(deg2rad(lat2)) + Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * Math.cos(deg2rad(theta));
		  
		 dist = Math.acos(dist);
		 dist = rad2deg(dist);
		 dist = dist * 60 * 1.1515;
		  
		
		
		 dist = dist * 1609.344;
		 
		 return (dist);
	 }
 
 
function sendAddress(){
	$(".storeLi").remove();
	$("#centerChange").css("display","none");
	$(".loading").css("display","block")
	var latlng = [map.getCenter().getLat(), map.getCenter().getLng()]
	var latlngJson = JSON.stringify(latlng)
 $.ajax({
	url: '/address',
	type: 'post',
	data: latlngJson, //문자열 배열을 보내기전에 json문자열로 변환해야 에러가 안난다. 그냥 문자열은 안해도 됐는데 배열을 해야한다. 이유는 모름.
	
    contentType: 'application/json;charset=UTF-8',
    success: function (data) {
		result = JSON.parse(data);
		
		if(result.count==0){
			$(".loading").css("display","none")
			var noStores = '<div class="storeLi" style="position : absolute; left : 50%; top : 50%;">근처에 약국없다 가라...</div>'
		$(".storeList").append(noStores)
		return

		}else{
			
	beforeMarker.forEach(i=>{

		i.setMap(null);
	})
	
beforeMarker = [];
overlayList = [];
		result.stores.forEach(i=>{
			if(!i.stock_at || JSON.stringify(i.stock_at)=="null"){
				i.type = 999;
				var distanceResult = Math.round(distance(centerLat,centerLng,i.lat,i.lng))
				i.code = distanceResult;
			}else{
				var test2 = i.stock_at.substr(0,4)
					test2 += i.stock_at.substr(5,2)
					test2 += i.stock_at.substr(8,2)
					test2 += i.stock_at.substr(11,2)
					test2 += i.stock_at.substr(14,2)
					i.type = test2
				var distanceResult = Math.round(distance(centerLat,centerLng,i.lat,i.lng))
				i.code = distanceResult;
	}

	

		})


		var emptyCount = false;
		var count = 1;
		result.stores.forEach(i => {
			if(excepted==true && i.remain_stat!="plenty" && i.remain_stat!="some" && i.remain_stat!="few"){
				return true;
			}
			if(!i.lat) return true;
			emptyCount = true;
	var position = new kakao.maps.LatLng(

	i.lat,i.lng
);
	

var marker = new kakao.maps.Marker({
	map: map,
	position: position
	
});


// if(!i.stock_at || JSON.stringify(i.stock_at)=="null"){
// i.type = "입고 대기"
// }else{
// var test2 = i.stock_at.substr(0,4)
// 		test2 += i.stock_at.substr(5,2)
// 		test2 += i.stock_at.substr(8,2)
// 		test2 += i.stock_at.substr(11,2)
// 		test2 += i.stock_at.substr(14,2)
// 		i.type = test2
if(i.type==999)i.type = "입고 대기"
if(i.type!="입고 대기"){
var nowDate = new Date(i.type.substr(0,4), (i.type.substr(4,2)-1), i.type.substr(6,2), i.type.substr(8,2), i.type.substr(10,2))
		var today = new Date();
		var betweenDay = (today.getTime() - nowDate.getTime())/1000/60/60/24;
		if(betweenDay>=1){
			i.type = Math.round(betweenDay)+"일 전"
		}else{
			betweenDay = betweenDay*24;
			if(betweenDay>=1 && betweenDay <24){
				i.type = Math.round(betweenDay)+"시간 전"
			}else{
				betweenDay = betweenDay*60;
				i.type = Math.round(betweenDay)+"분 전"
			}
		}
}
i.created_at = JSON.stringify(i.created_at)=="null" ? "입고 대기" : i.created_at;

	

	// var distanceResult = Math.round(distance(centerLat,centerLng,i.lat,i.lng))
	// i.code = distanceResult;


	if(i.code!=0){
	if(i.code>=1000){
		i.code = i.code/1000
		i.code = i.code.toFixed(1)+"km"
	}else{
		i.code = i.code+"m"
	}
	}


var jsonRemain = JSON.stringify(i.remain_stat)
switch (jsonRemain) {
	case '"plenty"': i.remain_stat = "100개 이상"
		
		break;
	case '"some"': i.remain_stat = "30개 이상 100개 미만"
		
		break;
	case '"few"': i.remain_stat = "2개 이상 30개 미만"
		
		break;
	case '"empty"': i.remain_stat = "품절"
		
		break;
	case '"break"': i.remain_stat = "품절"
		
		break;
	case "null": i.remain_stat = "입고 대기"
		
		break;
	default:
		break;
}
if(!i.remain_stat) i.remain_stat = "입고 대기"
var content = '<div id="wrap" class="wrap">' + 
            '    <div class="info">' + 
            '        <div id="'+i.name+'" class="title">' + 
            i.name + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="http://cfile181.uf.daum.net/image/250649365602043421936D" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="ellipsis">'+i.addr+'</div>' + 
			'                <div class="jibun ellipsis">'+'재고 : '+i.remain_stat+'</div>' + 
            '                <div class="jibun ellipsis">'+'입고 시간 : '+i.type+'</div>' + 
			'                <div class="jibun ellipsis">'+'거리 : '+i.code+'</div>' + 
            '                <div><a href="https://map.kakao.com/link/to/'+i.name+","+i.lat+","+i.lng+'" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>';
			

// 마커 위에 커스텀오버레이를 표시합니다
// 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
 var overlay = new kakao.maps.CustomOverlay({
    content: content,
    position: marker.getPosition()       
});
var close = document.createElement('div')
			close.className = "close"
			close.onclick = closeOverlay


kakao.maps.event.addListener(marker, 'click', function() {
	panTo(i.lat,i.lng);
	if(beforeOverlay[0]){
	beforeOverlay[0].setMap(null);
	}
	beforeOverlay = [];
    overlay.setMap(map);
	beforeOverlay.push(overlay);
	document.getElementById(i.name).appendChild(close)
	document.getElementById("wrap").parentNode.style.zIndex = "900"

});

// 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
beforeMarker.push(marker);
overlayList.push(overlay);
count++;
$(".loading").css("display","none")
			});
			
		result2 = JSON.parse(JSON.stringify(result))
			
			if(menuSwitch=="stock"){
				document.getElementById("recentStock").click();
	}else{
		document.getElementById("nearby").click();
	}

}

console.log(result.stores.length)
console.log(result.stores)


    },
	

    error:function(){
        alert("통신실패");
    }

})
}


 function nearby() {
	 
	$(".storeLi").remove();
	if(!result2.stores[0]){
		console.log("123")
		var noStores = '<div class="storeLi" style="position : absolute; left : 50%; top : 50%;">근처에 약국없다 가라...</div>'
		$(".storeList").append(noStores)
		return
	}
 navigator.geolocation.getCurrentPosition(function(pos){
	var centerLat = pos.coords.latitude;
	var centerLng = pos.coords.longitude;

result2.stores.forEach(i=>{
	var distanceResult = Math.round(distance(centerLat,centerLng,i.lat,i.lng))
	i.code = distanceResult;

})

result2.stores.sort(function(a,b){
	return a.code - b.code
})

$(".scrollDiv").remove();
	var scrollDiv = '<div class="scrollDiv"><ul class="storeList"></ul></div>'
	$("#firstBar").after(scrollDiv)
	var count = 1;
	var emptyCount = false;
	var mostClose = 0;	
	var divCount = 0;
	
	function scrollContent(){
		console.log(result.stores)
		var counter = 0;
		var breakCount = 0;
		
		
		result2.stores.some(i=>{
			console.log(counter)
			if(divCount>counter){
				counter++;
				return false;
			}
			
			if(excepted==true && i.remain_stat!="100개 이상" && i.remain_stat!="30개 이상 100개 미만" && i.remain_stat!="2개 이상 30개 미만"){
				mostClose++;
				counter++;
				divCount++
				return false;
			}
			if(!i.lat) {
				mostClose++;
				counter++;
				divCount++;
				return false;
			}
			emptyCount = true;
		if(i.code!=0){
	if(i.code>=1000){
		i.code = i.code/1000
		i.code = i.code.toFixed(1)+"km"
	}else{
		i.code = i.code+"m"
	}
	}
	
	var contentList = '<li class="storeLi"><div><a class="storename'+count+'">'+i.lat+"/"+i.lng+'</a></div><div><strong>'+i.name+'</storong></div><div><span>'+i.type+'</span></div><div><span>'+i.code+'</span></div><div><span>'+i.remain_stat+'</span></div></li>'
		$(".storeList").append(contentList)
	var count2 = 0;
	
	var content = '<div id="wrap" class="wrap">' + 
            '    <div class="info">' + 
            '        <div id="'+i.addr+'" class="title">' + 
            i.name + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="http://cfile181.uf.daum.net/image/250649365602043421936D" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="ellipsis">'+i.addr+'</div>' + 
			'                <div class="jibun ellipsis">'+'재고 : '+i.remain_stat+'</div>' + 
            '                <div class="jibun ellipsis">'+'입고 시간 : '+i.type+'</div>' + 
			'                <div class="jibun ellipsis">'+'거리 : '+i.code+'</div>' + 
            '                <div><a href="http://www.kakaocorp.com/main" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>';
			
// 마커 위에 커스텀오버레이를 표시합니다
// 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
var position = new kakao.maps.LatLng(
	// southWest.lat() + (latSpan * Math.random()),
	// southWest.lng() + (lngSpan * Math.random())
	i.lat,i.lng
);
 var overlay = new kakao.maps.CustomOverlay({
    content: content,
    position: position       
});

	var close = document.createElement('div')
			close.className = "close"
			close.onclick = closeOverlay

	$(".storename"+count).click(function(){
		dragEventSWitch = false;
		if(dragEventSWitch==false) panTo(i.lat,i.lng);
	if(beforeOverlay[0]){
	beforeOverlay[0].setMap(null);
	}
	beforeOverlay = [];
    overlay.setMap(map);
	beforeOverlay.push(overlay);
	
	// setTimeout(function() {
	document.getElementById(i.addr).appendChild(close)
	document.getElementById("wrap").parentNode.style.zIndex = "900"
	dragEventSWitch = true;
// }, 400);
	})
// 	if(count==1){
// 		panTo(result.stores[mostClose].lat,result.stores[mostClose].lng);
// 		if(beforeOverlay[0]){
// 			beforeOverlay[0].setMap(null);
// 		}
// 		beforeOverlay = [];
// 		overlay.setMap(map);
// 		beforeOverlay.push(overlay);
// 		// setTimeout(function() {
// 	document.getElementById(i.addr).appendChild(close)
// 	document.getElementById("wrap").parentNode.style.zIndex = "900"
// 	dragEventSWitch = true;
// // }, 400);
// 	}	
	count++;

	
	divCount++;
	counter++;
	breakCount++;
	console.log(divCount)
	console.log(counter)
	if(result2.stores.length<7 && breakCount==result2.stores.length) return true;
	if(breakCount==7) {
		console.log(breakCount)
		console.log(result.stores.length)
		
		return true;
	}
	})


	}
	scrollContent();
	$(".scrollDiv").on("scroll", function() {
	var scrollHeight = $(".storeList").height();
	var scrollPosition = $(".scrollDiv").height() + $(".scrollDiv").scrollTop();		
	console.log(scrollPosition)
		console.log(scrollHeight)
	if(scrollPosition > scrollHeight - 50&& divCount!=result2.stores.length){ 
		scrollContent();
		// exe 
	} 
});
if(emptyCount==false){
		console.log("123")
		var noStores = '<div class="storeLi" style="position : absolute; left : 50%; top : 50%;">근처에 약국없다 가라...</div>'
		$(".storeList").append(noStores)
		return
	}

})
	menuSwitch = "distance";
	$(".slideUp").scrollTop(0);
}
function recentStock(){
	$(".scrollDiv").remove();
	var scrollDiv = '<div class="scrollDiv"><ul class="storeList"></ul></div>'
	$("#firstBar").after(scrollDiv)
	var count = 1;
	var emptyCount = false;
	var mostClose = 0;	
	var divCount = 0;
	if(!result.stores[0]){
		var noStores = '<div class="storeLi" style="position : absolute; left : 50%; top : 50%;">근처에 약국없다 가라...</div>'
		$(".storeList").append(noStores)
		return
	}
	result.stores.forEach(i=>{
		
		if(!i.stock_at || JSON.stringify(i.stock_at)=="null"){
			i.type = 999;;
		}else{
			var test2 = i.stock_at.substr(0,4)
			test2 += i.stock_at.substr(5,2)
			test2 += i.stock_at.substr(8,2)
			test2 += i.stock_at.substr(11,2)
			test2 += i.stock_at.substr(14,2)
			i.type = test2



}
	})
	
	result.stores.sort(function(a,b){
		return b.type - a.type;
	})

	
	
	function scrollContent(){
		var counter = 0;
		var breakCount = 0;
		
			console.log(divCount)
			
		result.stores.some(i=>{
			console.log(counter)
			if(divCount>counter){
				counter++;
				return false;
			}
			
			if(excepted==true && i.remain_stat!="100개 이상" && i.remain_stat!="30개 이상 100개 미만" && i.remain_stat!="2개 이상 30개 미만"){
				mostClose++;
				counter++;
				divCount++
				return false;
			}
			if(!i.lat) {
				mostClose++;
				counter++;
				divCount++;
				return false;
			}
			emptyCount = true;
		if(i.type==999)i.type = "입고 대기"
	if(i.type!="입고 대기"){
		console.log(i.type)
		console.log(i.name)
		var nowDate = new Date(i.type.substr(0,4), (i.type.substr(4,2)-1), i.type.substr(6,2), i.type.substr(8,2), i.type.substr(10,2))
		var today = new Date();
		var betweenDay = (today.getTime() - nowDate.getTime())/1000/60/60/24;
		if(betweenDay>=1){
			i.type = Math.round(betweenDay)+"일 전"
		}else{
			betweenDay = betweenDay*24;
			if(betweenDay>=1 && betweenDay <24){
				i.type = Math.round(betweenDay)+"시간 전"
			}else{
				betweenDay = betweenDay*60;
				i.type = Math.round(betweenDay)+"분 전"
			}
		}
		console.log(i.type)
}
		
	
	var contentList = '<li class="storeLi"><div><a class="storename'+count+'">'+i.lat+"/"+i.lng+'</a></div><div><strong>'+i.name+'</storong></div><div><span>'+i.type+'</span></div><div><span>'+i.code+'</span></div><div><span>'+i.remain_stat+'</span></div></li>'
		$(".storeList").append(contentList)
	var count2 = 0;
	
	var content = '<div id="wrap" class="wrap">' + 
            '    <div class="info">' + 
            '        <div id="'+i.addr+'" class="title">' + 
            i.name + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="http://cfile181.uf.daum.net/image/250649365602043421936D" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="ellipsis">'+i.addr+'</div>' + 
			'                <div class="jibun ellipsis">'+'재고 : '+i.remain_stat+'</div>' + 
            '                <div class="jibun ellipsis">'+'입고 시간 : '+i.type+'</div>' + 
			'                <div class="jibun ellipsis">'+'거리 : '+i.code+'</div>' + 
            '                <div><a href="http://www.kakaocorp.com/main" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>';
			
// 마커 위에 커스텀오버레이를 표시합니다
// 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
var position = new kakao.maps.LatLng(
	// southWest.lat() + (latSpan * Math.random()),
	// southWest.lng() + (lngSpan * Math.random())
	i.lat,i.lng
);
 var overlay = new kakao.maps.CustomOverlay({
    content: content,
    position: position       
});

	var close = document.createElement('div')
			close.className = "close"
			close.onclick = closeOverlay

	$(".storename"+count).click(function(){
		dragEventSWitch = false;
		if(dragEventSWitch==false) panTo(i.lat,i.lng);
	if(beforeOverlay[0]){
	beforeOverlay[0].setMap(null);
	}
	beforeOverlay = [];
    overlay.setMap(map);
	beforeOverlay.push(overlay);
	
	// setTimeout(function() {
	document.getElementById(i.addr).appendChild(close)
	document.getElementById("wrap").parentNode.style.zIndex = "900"
	dragEventSWitch = true;
// }, 400);
	})
// 	if(count==1){
// 		panTo(result.stores[mostClose].lat,result.stores[mostClose].lng);
// 		if(beforeOverlay[0]){
// 			beforeOverlay[0].setMap(null);
// 		}
// 		beforeOverlay = [];
// 		overlay.setMap(map);
// 		beforeOverlay.push(overlay);
// 		// setTimeout(function() {
// 	document.getElementById(i.addr).appendChild(close)
// 	document.getElementById("wrap").parentNode.style.zIndex = "900"
// 	dragEventSWitch = true;
// // }, 400);
// 	}	
	count++;

	
	divCount++;
	counter++;
	breakCount++;
	console.log(divCount)
	console.log(counter)
	if(result.stores.length<7 && breakCount==result.stores.length) return true;
	if(breakCount==7) {
		console.log(breakCount)
		console.log(result.stores.length)
		
		return true;
	}
	})


	}
	scrollContent();
	$(".scrollDiv").on("scroll", function() {
	var scrollHeight = $(".storeList").height();
	var scrollPosition = $(".scrollDiv").height() + $(".scrollDiv").scrollTop();		
	console.log(scrollPosition)
		console.log(scrollHeight)
	if(scrollPosition > scrollHeight - 50&& divCount!=result.stores.length){ 
		scrollContent();
		// exe 
	} 
});


// 	result.stores.forEach(i=>{
// 		if(excepted==true && i.remain_stat!="100개 이상" && i.remain_stat!="30개 이상 100개 미만" && i.remain_stat!="2개 이상 30개 미만"){
// 			mostClose++;
// 				return true;
// 			}
// 		if(!i.lat) {
// 			mostClose++;
// 			return true;
// 		}
// 		emptyCount = true;
// 		if(i.type==999)i.type = "입고 대기"
// 	if(i.type!="입고 대기"){
// 		var nowDate = new Date(i.type.substr(0,4), (i.type.substr(4,2)-1), i.type.substr(6,2), i.type.substr(8,2), i.type.substr(10,2))
// 		var today = new Date();
// 		var betweenDay = (today.getTime() - nowDate.getTime())/1000/60/60/24;
// 		if(betweenDay>=1){
// 			i.type = Math.round(betweenDay)+"일 전"
// 		}else{
// 			betweenDay = betweenDay*24;
// 			if(betweenDay>=1 && betweenDay <24){
// 				i.type = Math.round(betweenDay)+"시간 전"
// 			}else{
// 				betweenDay = betweenDay*60;
// 				i.type = Math.round(betweenDay)+"분 전"
// 			}
// 		}
// }
		
	
// 	var contentList = '<li class="storeLi"><div><a class="storename'+count+'">'+i.lat+"/"+i.lng+'</a></div><div><strong>'+i.name+'</storong></div><div><span>'+i.type+'</span></div><div><span>'+i.code+'</span></div><div><span>'+i.remain_stat+'</span></div></li>'
// 		$(".storeList").append(contentList)
// 	var count2 = 0;
	
// 	var content = '<div id="wrap" class="wrap">' + 
//             '    <div class="info">' + 
//             '        <div id="'+i.addr+'" class="title">' + 
//             i.name + 
//             '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
//             '        </div>' + 
//             '        <div class="body">' + 
//             '            <div class="img">' +
//             '                <img src="http://cfile181.uf.daum.net/image/250649365602043421936D" width="73" height="70">' +
//             '           </div>' + 
//             '            <div class="desc">' + 
//             '                <div class="ellipsis">'+i.addr+'</div>' + 
// 			'                <div class="jibun ellipsis">'+'재고 : '+i.remain_stat+'</div>' + 
//             '                <div class="jibun ellipsis">'+'입고 시간 : '+i.type+'</div>' + 
// 			'                <div class="jibun ellipsis">'+'거리 : '+i.code+'</div>' + 
//             '                <div><a href="http://www.kakaocorp.com/main" target="_blank" class="link">길찾기</a></div>' + 
//             '            </div>' + 
//             '        </div>' + 
//             '    </div>' +    
//             '</div>';
			
// // 마커 위에 커스텀오버레이를 표시합니다
// // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
// var position = new kakao.maps.LatLng(
// 	// southWest.lat() + (latSpan * Math.random()),
// 	// southWest.lng() + (lngSpan * Math.random())
// 	i.lat,i.lng
// );
//  var overlay = new kakao.maps.CustomOverlay({
//     content: content,
//     position: position       
// });

// 	var close = document.createElement('div')
// 			close.className = "close"
// 			close.onclick = closeOverlay

// 	$(".storename"+count).click(function(){
// 		dragEventSWitch = false;
// 		if(dragEventSWitch==false) panTo(i.lat,i.lng);
// 	if(beforeOverlay[0]){
// 	beforeOverlay[0].setMap(null);
// 	}
// 	beforeOverlay = [];
//     overlay.setMap(map);
// 	beforeOverlay.push(overlay);
	
// 	// setTimeout(function() {
// 	document.getElementById(i.addr).appendChild(close)
// 	document.getElementById("wrap").parentNode.style.zIndex = "900"
// 	dragEventSWitch = true;
// // }, 400);
// 	})
// // 	if(count==1){
// // 		panTo(result.stores[mostClose].lat,result.stores[mostClose].lng);
// // 		if(beforeOverlay[0]){
// // 			beforeOverlay[0].setMap(null);
// // 		}
// // 		beforeOverlay = [];
// // 		overlay.setMap(map);
// // 		beforeOverlay.push(overlay);
// // 		// setTimeout(function() {
// // 	document.getElementById(i.addr).appendChild(close)
// // 	document.getElementById("wrap").parentNode.style.zIndex = "900"
// // 	dragEventSWitch = true;
// // // }, 400);
// // 	}	
// 	count++;

// 	})
	if(emptyCount==false){
		console.log("123")
		var noStores = '<div class="storeLi" style="position : absolute; left : 50%; top : 50%;">근처에 약국없다 가라...</div>'
		$(".storeList").append(noStores)
		return
	}

	menuSwitch = "stock";
	$(".slideUp").scrollTop(0);
}

$('#recentStock').click(function(){
	recentStock();
})
$('#nearby').click(function(){
	nearby();
})	
$("#reSearch").click(function(){
	if(menuSwitch=="stock"){
		recentStock();
	}else{
	nearby();
	}
})
$("#myPositionImg").click(function(){
	myPosition();
})
$("#excepted").click(function(){
	if(excepted==true){
		excepted = false;
		$("#excepted").html("품절 제외 : OFF")
		if(beforeOverlay[0]) beforeOverlay[0].setMap(null)
		sendAddress();
	}else{
		excepted = true;
		$("#excepted").html("품절 제외 : ON")
		if(beforeOverlay[0]) beforeOverlay[0].setMap(null)
		sendAddress();
	}
})
$('#slideContentDown').on('click', function()
	{
		$('.slideDown').slideDown();
	});
	$('#slideContentUp').on('click', function()
	{
		$('.slideDown').slideUp();
	});
	
	$('#reverseSlideContentUp').on('click', function()
	{
		if($('#reverseSlideContentUp').text()=="up"){
		if(document.getElementsByClassName("storeList")[0].childElementCount==0){
			recentStock();
		}	
		$('.slideUp').slideDown();
		$('#myPosition').animate({bottom:"48%"}, 400);
		$('#reverseSlideContentUp').animate({bottom:"48%"}, 400);
		$('#reverseSlideContentUp').html("down")
		}else{
		$('.slideUp').slideUp();
		$('#myPosition').animate({bottom:"0%"}, 400);
		$('#reverseSlideContentUp').animate({bottom:"0%"}, 400);
		$('#reverseSlideContentUp').html("up")
		}
	});
function myPosition(){
if (navigator.geolocation) {
						if(myPositionMarker[0]) {
							myPositionMarker[0].setMap(null)
						}
						myPositionMarker = [];
			            navigator.geolocation.getCurrentPosition (function(pos) {
							centerLat = pos.coords.latitude
							centerLng = pos.coords.longitude
							var center = new kakao.maps.LatLng(centerLat,centerLng)
							map.setCenter(new kakao.maps.LatLng(centerLat,centerLng))
							var position = new kakao.maps.LatLng(
									centerLat,centerLng
							);
							var marker = new kakao.maps.Marker({
								map: map,
								position: position
							});
							myPositionMarker.push(marker);
							sendAddress();
						})
}else{
	alert("위치정보를 확인할 수 없어 기본 설정된 위치로 이동합니다.")
	sendAddress();
}
}

myPosition();

$("#centerChange").click(function(){
	sendAddress();
})

kakao.maps.event.addListener(map, 'tilesloaded', function() {
	// if(dragEventSWitch==true){
		$("#centerChange").css("display","block");
		
	// }
}); 
	});
	
	</script>

	
</body>
</html>