<!DOCTYPE html>
<html style="height : 100%">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=182t82nrlu"></script> 
 네이버 지도 api 
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=182t82nrlu&submodules=geocoder"></script>
네이버 지도 좌표 변환기 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2169105020527d66bfc410aff25c58e1&libraries=services"></script>
<script src="/static/js/main.js"></script>
<title>main.html</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">


</head>

<body style="height : 100%">
	<div id="map" style="width:100%;height:100%;"></div>
<input type="text" id="address" value="" />
<img class="loading" src="/static/img/loading25.gif" style="display : none" />	
<div id="topBar">
	<span id="date">
		
	</span>
	<span id="mainTitle">
		마스크팜
	</span>
	<div id="notice">
		<span>공지자리</span>
	</div>
</div>
<button id="excepted">품절 제외 : OFF</button>
<button id="centerChange">현 위치에서 검색</button>
<button id="reverseSlideContentUp">up</button>
<div id="myPosition"><img id="myPositionImg" src="/static/img/loading25.gif" /></div> 
<!-- <button style="display : none" id="reverseSlideContentUp">Reverse Slide Up</button> -->
<div class="slide slideUp">
	<div id="firstBar">
	<ul id="BarUl">
		<a id="recentStock" style="width : 22%">입고순</a>
		<a id="nearby" style="width : 22%">거리순</a>
	</ul>	
	<a id="reSearch" style="width : 44%;"></a>
	
	
	
	<!-- <div><img src="/static/img/loading25.gif" /></div> -->
	</div><div class="scrollDiv">
		<ul class="storeList"></ul>
	</div>
</div>
</body>
</html>